<header class="header container">
    <nav class="header__navigation navigation">
        <a class="navigation__logo" href="/">
            <picture>
                <img src="./assets/images/PRO-DEAL.svg" alt="logo">
            </picture>
        </a>

        <ul class="navigation__menu menu reset-list">
            <li>
                <a href="#" class="menu__link reset-link">
                    О сервисе
                </a>
            </li>
            <li>
                <a href="#" class="menu__link reset-link">
                    Как работает
                </a>
            </li>
            <li>
                <a href="#" class="menu__link reset-link">
                    Кому выгодно
                </a>
            </li>
            <li>
                <a href="#" class="menu__link reset-link">
                    Контакты
                </a>
            </li>
        </ul>
    </nav>

    <div class="header__contact contact">
        <div class="contact__phone-time phone-time">
            <a href="tel:+78003501005" class="phone-time__number reset-link">+7 (800) 350-10-05</a>
            <div class="phone-time__time">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.5" r="4" fill="#0DC268"/>
                </svg>
                ПН-ПН 09:00-18:00
            </div>
        </div>

        <a class="authentification" href="dialog-auth.html">
            <button class="contact__btn btn-join reset-btn" id="btn-auth">
                Войти
            </button>
        </a>
    </div>
</header>
